.logo {
    width: 10rem;
    position: absolute;
    top: 5rem;
    left: 4.5rem;
    z-index: 2;
}

.logo_box {
    display: block;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    position: absolute;
    top: 4.25rem;
    left: 6rem;
    border-radius: 4rem;
    z-index: 1;
}
