.navigation {
  /* position: fixed; */
  /* width: 97%; */
}

.navigation_button {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 3.5rem;
  z-index: 1000;
  box-shadow: 0 0.2rem 0.3rem #0000005d;
  cursor: pointer;
}

.navigation_background {
  height: 2.8rem;
  width: 2.5rem;
  background-image: linear-gradient(to right bottom, #fff, #f8f8f8);
  border-radius: 50%;
  position: fixed;
  top: 2.1rem;
  right: 3.7rem;
  z-index: 500;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation_checkbox {
  display: none;
}

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(18);
}

.navigation_icon,
.navigation_icon::before,
.navigation_icon::after {
  display: inline-block;
  height: 2px;
  width: 1.5rem;
  background-color: #afafaf;
  position: fixed;
  top: 3.5rem;
  right: 4.25rem;
  transition: all 0.2s;
  /* margin-top: 0.5rem; */
}

.navigation_icon::before,
.navigation_icon::after {
  content: "";
  position: fixed;
}

.navigation_icon::before {
  top: 3.15rem;
}

.navigation_icon::after {
  top: 3.85rem;
}

.navigation_button:hover .navigation_icon:hover::before {
  /* top: 4rem; */
  transform: translateY(-3px);
}

.navigation_button:hover .navigation_icon:hover::after {
  /* top: 4.9rem; */
  transform: translateY(3px);
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}

.navigation_checkbox:checked ~ .navigation_button .navigation_icon::before {
  transform: rotate(135deg);
  top: 3.5rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  transform: rotate(-135deg);
  top: 3.5rem;
}

.navigation_list {
  position: fixed;
  top: 3.5rem;
  right: 1.5rem;
  padding: 1rem 2rem;
  margin: 0;
  text-align: center;
  z-index: 2000;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 0;
  visibility: hidden;
}

.navigation_list-line {
  list-style: none;
  margin: 1rem;
}

.navigation_link:link,
.navigation_link:visited {
  display: inline-block;
  color: #be7200;
  background-image: linear-gradient(
    125deg,
    transparent 0%,
    transparent 50%,
    #be7200 50%
  );
  background-size: 240%;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  transition: all 0.6s;
}

.navigation_link:hover,
.navigation_link:active {
  color: #fff;
  background-position: 100%;
  transform: translateX(0.6rem);
}

.navigation_checkbox:checked ~ .navigation_list {
  opacity: 1;
  width: 20%;
  visibility: visible;
}
