.second-page {
  height: 75vh;
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 9px;
  position: relative;
  box-shadow: 0 0 0.95rem rgba(0, 0, 0, 0.1);
}

.second-page_rectangle {
  height: 70vh;
  width: 25%;
  background-image: linear-gradient(to left bottom, #0088beda, #055777);
  border-radius: 9px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}
